@import "compass/reset";
@import "compass/css3/images";
@import "compass/css3/background-size";
@import "compass/css3/text-shadow";
@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "fonts";

html, body {
	overflow-x: hidden;
	max-width: 100%;
}

body {
  background: #fff;
}

.row{
	position: relative;
	width: 1024px;
	margin: auto;
}

.active{
	display: block;
}
.hide{
	display: none;
}

%button{
	background: #a6bf65;
	padding: 12px 20px;
	border-bottom: solid 3px #9bb35f;
	color: #fff;
	margin-right: 0px;
	text-decoration: none;
	&:hover{
		background: #9bb35f;
		color: #fff;
	}
}
%background-slide{
	@include background-size(contain);
	position: absolute;
	top: 0;
	width: 100%;
	height: 670px;
}
%headline-image{
	@extend %background-slide;
	height: 620px;
	z-index: 10;
}

%headline-font{
	font-family: 'DaxBold';
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
}
%headline-span{
	font-family: 'Museo300Regular';
	font-size: 40px;
	text-transform: none; 
}

h1{
	@extend %headline-font;
	@include text-shadow(rgba(255,255,255,0.5) 0px 1px 0px, rgba(0,0,0,0.7) 0px 1px 4px);
	font-size: 52px; 
	line-height: 1.0em;
	span{
		@extend %headline-span;
		font-size: 40px;
	}
}

h2{
	@extend %headline-font;
	@include text-shadow(rgba(255,255,255,0.25) 0px 1px 0px, rgba(0,0,0,0.5) 0px 1px 4px);
	font-size: 64px;
	line-height: 0.8em;
	span{
		@extend %headline-span;
		font-size: 56px;
		color: #000;
		@include text-shadow(rgba(0,0,0,0.25) 0px 1px 0px);
	}
}

h3{
	@extend %headline-font;
	font-size: 36px;
	color: #66493d;
}

p{
	font-family: 'Museo300Regular';
	width: 800px;
	font-size: 23px;
	line-height: 1.2em;
	text-align: center;
	margin: auto;
	color: #66493d;
	b{
		font-family: 'Museo700Regular';
	}
}
a{
	font-family: 'Museo500Regular';
}

header{
	position: absolute;
	top:50px;
	left:0;
	right:0;
	z-index: 1;
	nav{
		margin: 40px 20px;
		font-family: 'Museo500Regular';
		font-size: 16px;
		float: right;
		a{	
			margin-right: 25px;
			color: #999;
			text-decoration: none;
			&:hover{
				color: #888;
			}
		
		}
		.header-button{
			@extend %button;
		}
	}
}

.logo-brand{
	background: url(../images/logo-palato.png);
	width: 274px;
	height: 90px;
	display: block;	
	text-indent: -9999px;
	float: left;
	margin-left: 10px;	
}

.slider{
		position: relative;
		height: 670px;
		z-index: 0;
		overflow: hidden;

	h1{
		position: relative;
		z-index: 1000;
		top: 45%;
	}
	.arrow-down{
		background: url('../images/icons/arrow-down.svg') no-repeat;
		position: relative;
		display: block;
		top: -100px;
		width: 14px;
		height: 8px;
		transform: scale(4);
		z-index: 1000;
		margin: auto;
	}

	.slides{
		position: relative;
		margin-top: -108px;
		height: 670px;
	    overflow: hidden;
		img{
		    position: absolute;
		    min-width: none;
		    top: 0;
		    left: 0;
		    z-index: 8;
		    &.active{
		    	z-index: 10;
		    }
		    &.last-active{
		    	z-index: 9;
		    }
		}
		.slide{
			float: left;
		}
	}
}

main{
	position: relative;
	z-index: 10;
	.content-separator{
		position: absolute;
		left: 0;
		right:0;
		z-index: 1000;
		.triangles{
			.triangle-1,.triangle-2{
				position: absolute;
				top: 0;
				margin-top: -120px;  
				border-top: 0px solid transparent;	
				border-bottom: 70px solid #ffffff;
			}
			.triangle-1{
				left: 0;
				border-right-width: 50%;
				border-right: 512px solid transparent;
			}
			.triangle-2{
				right: 0;
				border-left-width: 50%;
				border-left: 512px solid transparent;
			}
			&::after{
				position: absolute;
				top: 0;
				margin-top: -200px;
				background: #fff;
				width: 1000px;
				height: 70px;
				display: block;
			}
			.rect-1, .rect-2{
				position: absolute;
				width: 100%;
				height: 70px;	
				margin-top: -120px;
				background: #fff;
			}
			.rect-1{
				left: -100%;
			}
			.rect-2{
				right: -100%;
			}
		}

	}
	.headline-separator{
		position: absolute;
		left: 0;
		right: 0;
		.triangle-1{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-left: 512px solid transparent;
			border-right: 512px solid transparent;

			border-top: 70px solid #fff;
			z-index: 1000;
		}
	}
	.content{
		text-align: center;
		// background: #fff;
		padding-top: 50px;
		.content-title{
			margin-bottom: 70px;
			// width: 1000px;
			height: 0;
			border-top:solid 2px #e7e7e7;
			h3{
				background: #fff;
				width: 300px;
				margin: -20px auto ;
				padding: 0 20px 20px;
			}
		}
		.content-resume{
			text-align: center;
		}
	}
	.content.products{
		.content-slider{
			height: 630px;
			.products-slider {
				position: relative;
				overflow: hidden;
				float: left;
				height: 600px;
				width: 200px;
				padding: 15px;
				border-right: 2px solid #e7e7e7;
				.arrow-list-before{
					position: absolute;
					// top: -15px;
					left: -10px;
					content: url('../images/icons/mini-arrow-up.svg') no-repeat;
					transform: scale(4);
					top: 0;
				}
				.arrow-list-after{
					position: absolute;
					// top: 20px;
					left: -10px;
					content: url('../images/icons/mini-arrow-down.svg') no-repeat;
					transform: scale(4);
					bottom: 0;
				}
			}
			.products-list{
				@include transition(margin-top 500ms);
				position: absolute;
				.product-thumbnail{
					position: relative;
					width: 170px;
					height: 170px;
					margin: 0 0 35px;
					display: block;
					float: left;
					@include border-radius(8px);
					display: block;
					text-decoration: none;
					border: 2px solid #fff;
					img{
						padding: 5px;
						max-width: 100%;
						max-height: 120px;
					}
					h5{
						font-family: 'Museo300Regular';
						color: #66493d;
						font-weight: 300;
					}
					&.active, &:hover{
						border: 2px solid #e7e7e7;
					}
				}
				
			}
			.products-content{
				width: 792px;
				float: right;
				h4{
					@extend %headline-span;
					font-size: 28px;
					text-transform: uppercase;
					color:#b7db5b;
				}
				.product-image{
					position: relative;
					top: 30px;
					left: 50px;
					text-align: left;
					float: left;
					img{
						max-width: 100%;
						max-height: 570px;
					}
				}
				.information{
					position: relative;
					left: 40px;
					top: 130px;
					font-family: 'Museo300Regular';
					color: #adadad;
					h6{
						font-family: 'Museo500Regular';
						font-size: 19px;
						color: #adadad;
						text-transform: uppercase;
					}
					table { 
						position: relative;
						left: 95px;
						margin-top: 20px;
						width: 330px;	

						tr{
							height: 40px;	
							th{
							}
							td {
								text-align: right;
								color: #b7db5b;
							}
						}
					}
					.more-details-button{
						@extend %button;
						width: 330px;
						padding: 14px 0;
						margin-right: 98px;
						margin-top: 20px;
						float: right;	
					}
				}
			}
		}
	}
	.content.brands{
		.brands-images{
			position: relative;
			top: -50px;
		}
	}
	.headline{
		position: relative;
		margin-top: 50px;
		background: #666;
		height: 620px;
		.headline-title{
			position: relative;
			top: 265px;
			z-index: 100;
		}
		.headline-image-1{
			@extend %headline-image;
			background: url('../images/headline-phrase-1.jpg');
			background-size: 100% 620px;
		}
		.headline-image-2{
			@extend %headline-image;
			background: url('../images/headline-phrase-2.jpg');
			background-size: 100% 620px;
		}
		.headline-image-3{
			@extend %headline-image;
			background: url('../images/headline-phrase-3.jpg');
			background-size: 100% 620px;
		}
	}
}

footer{
	border-top: solid 2px #e7e7e7;
	position: relative;
	height: 320px;
	margin-top: -50px;
	nav{
		position: relative;
		top:60px;
		.footer-social{
			float: left;
			margin-top: 115px;
			margin-left: 20px;
			h5{
				font-family: 'Museo300Regular';
				color: #bababa;
				font-size: 14px;
				padding-bottom: 10px;
			}
			a{
				background: #ddd7d4;
				width: 42px;
				height: 42px;
				@include border-radius(20px);
				display: inline-block;
				&:hover{
					background: #a6bf65;
				} 
			}
			.facebook{
				content:url(../images/icons/facebook-icon.png);
			}
			.twitter{
				content:url(../images/icons/twitter-icon.png);
			}
			.gplus{
				content:url(../images/icons/google-icon.png);
			}
		}
		.center{
			width: 300px;
			margin: auto;
			.logo-brand{
				display: block;
			}
			.footer-button{
				position: relative;
				@extend %button;
				font-size: 18px;
				margin-left: 10px;
				padding: 18px 80px;
				top: 50px;

			}
		}
		.scroll-top{
			position: relative;
			top:-15px;
			float: right;
			margin-right: 20px;
			font-family: 'Museo300Regular';
			text-decoration: none;
			color: #bababa;
			.arrow-up{
				position: relative;
				top: 26px;
				background: #ddd7d4;
				content: url('../images/icons/arrow-up.svg') no-repeat;
				width: 60px;
				height: 58px;
				margin-left: 15px;
				border-bottom: 3px solid #c7c2bf;
				z-index: 10;
				&:hover{
					background: #c7c2bf;
				}
			}
		}
	}
}