@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700);
/* line 5, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../.rvm/gems/ruby-2.1.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'DaxLight';
  src: url("../fonts/Dax Light.ttf") format("truetype");
}
@font-face {
  font-family: 'DaxRegular';
  src: url("../fonts/Dax Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'DaxBold';
  src: url("../fonts/Dax Bold.ttf") format("truetype");
}
@font-face {
  font-family: 'Museo300Regular';
  src: url("../fonts/museo_300/Museo300-Regular-webfont.eot");
  src: url("../fonts/museo_300/Museo300-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_300/Museo300-Regular-webfont.woff") format("woff"), url("../fonts/museo_300/Museo300-Regular-webfont.ttf") format("truetype"), url("../fonts/museo_300/Museo300-Regular-webfont.svg#Museo300Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo500Regular';
  src: url("../fonts/museo_500/Museo500-Regular-webfont.eot");
  src: url("../fonts/museo_500/Museo500-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_500/Museo500-Regular-webfont.woff") format("woff"), url("../fonts/museo_500/Museo500-Regular-webfont.ttf") format("truetype"), url("../fonts/museo_500/Museo500-Regular-webfont.svg#Museo500Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Museo700Regular';
  src: url("../fonts/museo_700/Museo700-Regular-webfont.eot");
  src: url("../fonts/museo_700/Museo700-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_700/Museo700-Regular-webfont.woff") format("woff"), url("../fonts/museo_700/Museo700-Regular-webfont.ttf") format("truetype"), url("../fonts/museo_700/Museo700-Regular-webfont.svg#Museo700Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 11, ../../scss/default.scss */
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

/* line 16, ../../scss/default.scss */
body {
  background: #fff;
}

/* line 20, ../../scss/default.scss */
.row {
  position: relative;
  width: 1024px;
  margin: auto;
}

/* line 25, ../../scss/default.scss */
.hide {
  display: none;
}

/* line 28, ../../scss/default.scss */
.active {
  display: block;
}

/* line 32, ../../scss/default.scss */
header nav .header-button, main .content.products .content-slider .products-content .information .more-details-button, footer nav .center .footer-button {
  background: #a6bf65;
  padding: 12px 20px;
  border-bottom: solid 3px #9bb35f;
  color: #fff;
  margin-right: 0px;
  text-decoration: none;
}
/* line 39, ../../scss/default.scss */
header nav .header-button:hover, main .content.products .content-slider .products-content .information .more-details-button:hover, footer nav .center .footer-button:hover {
  background: #9bb35f;
  color: #fff;
}

/* line 44, ../../scss/default.scss */
main .headline .headline-image-1, main .headline .headline-image-2, main .headline .headline-image-3 {
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 670px;
}

/* line 51, ../../scss/default.scss */
main .headline .headline-image-1, main .headline .headline-image-2, main .headline .headline-image-3 {
  background-position: center middle;
  background-size: auto 690px;
  min-height: 620px;
  z-index: 10;
}

/* line 59, ../../scss/default.scss */
h1, h2, h3 {
  font-family: 'DaxBold', 'Titillium Web', sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

/* line 65, ../../scss/default.scss */
h1 span, h2 span, main .content.products .content-slider .products-content h4 {
  font-family: 'Museo300Regular';
  font-size: 40px;
  text-transform: none;
}

/* line 71, ../../scss/default.scss */
h1 {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px, rgba(0, 0, 0, 0.7) 0px 1px 4px;
  font-size: 52px;
  line-height: 1.0em;
}
/* line 76, ../../scss/default.scss */
h1 span {
  font-size: 40px;
}

/* line 82, ../../scss/default.scss */
h2 {
  text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px, rgba(0, 0, 0, 0.5) 0px 1px 4px;
  font-size: 64px;
  line-height: 0.8em;
}
/* line 87, ../../scss/default.scss */
h2 span {
  font-size: 56px;
  color: #000;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 0px;
}

/* line 95, ../../scss/default.scss */
h3 {
  font-size: 32px;
  color: #66493d;
}

/* line 101, ../../scss/default.scss */
p {
  font-family: 'Museo300Regular';
  width: 800px;
  font-size: 23px;
  line-height: 1.2em;
  text-align: center;
  margin: auto;
  color: #66493d;
}
/* line 109, ../../scss/default.scss */
p b {
  font-family: 'Museo700Regular';
}

/* line 113, ../../scss/default.scss */
a {
  font-family: 'Museo500Regular';
}

/* line 117, ../../scss/default.scss */
header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;
}
/* line 123, ../../scss/default.scss */
header nav {
  margin: 40px 20px;
  font-family: 'Museo500Regular';
  font-size: 16px;
  float: right;
}
/* line 128, ../../scss/default.scss */
header nav a {
  margin-right: 25px;
  color: #999;
  text-decoration: none;
}
/* line 132, ../../scss/default.scss */
header nav a:hover {
  color: #888;
}

/* line 143, ../../scss/default.scss */
.logo-brand {
  background: url("../images/landing-page/logo-palato.png");
  width: 274px;
  height: 90px;
  display: block;
  text-indent: -9999px;
  float: left;
  margin-left: 10px;
}

/* line 153, ../../scss/default.scss */
.slider {
  position: relative;
  height: 670px;
  z-index: 0;
  overflow: hidden;
}
/* line 159, ../../scss/default.scss */
.slider h1 {
  position: relative;
  z-index: 1000;
  top: 45%;
}
/* line 164, ../../scss/default.scss */
.slider .arrow-down {
  background: url("../images/landing-page/icons/arrow-down.svg") no-repeat;
  position: relative;
  display: block;
  top: -100px;
  width: 60px;
  height: 36px;
  z-index: 1000;
  margin: auto;
}
/* line 175, ../../scss/default.scss */
.slider .slides {
  position: relative;
  margin-top: -108px;
  height: 670px;
  overflow: hidden;
}
/* line 180, ../../scss/default.scss */
.slider .slides img {
  position: absolute;
  min-width: 100%;
  top: 0;
  left: 0;
  z-index: 8;
}
/* line 186, ../../scss/default.scss */
.slider .slides img.active {
  z-index: 10;
}
/* line 189, ../../scss/default.scss */
.slider .slides img.last-active {
  z-index: 9;
}
/* line 193, ../../scss/default.scss */
.slider .slides .slide {
  float: left;
}

/* line 199, ../../scss/default.scss */
main {
  position: relative;
  z-index: 10;
}
/* line 202, ../../scss/default.scss */
main .content-separator {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1000;
}
/* line 208, ../../scss/default.scss */
main .content-separator .triangles .triangle-1, main .content-separator .triangles .triangle-2 {
  position: absolute;
  top: 0;
  margin-top: -120px;
  border-top: 0px solid transparent;
  border-bottom: 70px solid #ffffff;
}
/* line 215, ../../scss/default.scss */
main .content-separator .triangles .triangle-1 {
  left: 0;
  border-right-width: 50%;
  border-right: 512px solid transparent;
}
/* line 220, ../../scss/default.scss */
main .content-separator .triangles .triangle-2 {
  right: 0;
  border-left-width: 50%;
  border-left: 512px solid transparent;
}
/* line 225, ../../scss/default.scss */
main .content-separator .triangles::after {
  position: absolute;
  top: 0;
  margin-top: -200px;
  background: #fff;
  width: 1000px;
  height: 70px;
  display: block;
}
/* line 234, ../../scss/default.scss */
main .content-separator .triangles .rect-1, main .content-separator .triangles .rect-2 {
  position: absolute;
  width: 100%;
  height: 70px;
  margin-top: -120px;
  background: #fff;
}
/* line 241, ../../scss/default.scss */
main .content-separator .triangles .rect-1 {
  left: -100%;
}
/* line 244, ../../scss/default.scss */
main .content-separator .triangles .rect-2 {
  right: -100%;
}
/* line 250, ../../scss/default.scss */
main .headline-separator {
  position: absolute;
  left: 0;
  right: 0;
}
/* line 254, ../../scss/default.scss */
main .headline-separator .triangle-1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-left: 512px solid transparent;
  border-right: 512px solid transparent;
  border-top: 70px solid #fff;
  z-index: 1000;
}
/* line 266, ../../scss/default.scss */
main .content {
  text-align: center;
  padding-top: 50px;
}
/* line 270, ../../scss/default.scss */
main .content .content-title {
  margin-bottom: 70px;
  height: 0;
  border-top: solid 2px #e7e7e7;
}
/* line 275, ../../scss/default.scss */
main .content .content-title h3 {
  background: #fff;
  width: 300px;
  margin: -20px auto;
  padding: 0 20px 20px;
}
/* line 282, ../../scss/default.scss */
main .content .content-resume {
  text-align: center;
}
/* line 287, ../../scss/default.scss */
main .content.products .content-slider {
  height: 630px;
}
/* line 289, ../../scss/default.scss */
main .content.products .content-slider .products-slider {
  position: relative;
  overflow: hidden;
  float: left;
  height: 580px;
  width: 200px;
  padding: 15px;
  border-right: 2px solid #e7e7e7;
}
/* line 297, ../../scss/default.scss */
main .content.products .content-slider .products-slider .arrow-list {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 92px;
  cursor: pointer;
  z-index: 100;
  display: block;
}
/* line 307, ../../scss/default.scss */
main .content.products .content-slider .products-slider .arrow-list.before {
  top: 0;
  content: url("../images/landing-page/icons/mini-arrow-up.svg") no-repeat;
}
/* line 311, ../../scss/default.scss */
main .content.products .content-slider .products-slider .arrow-list.after {
  bottom: 0;
  content: url("../images/landing-page/icons/mini-arrow-down.svg") no-repeat;
}
/* line 316, ../../scss/default.scss */
main .content.products .content-slider .products-list {
  -moz-transition: margin-top 500ms;
  -o-transition: margin-top 500ms;
  -webkit-transition: margin-top 500ms;
  transition: margin-top 500ms;
  position: absolute;
  height: 500px;
  margin-top: 18px;
}
/* line 322, ../../scss/default.scss */
main .content.products .content-slider .products-list .product-thumbnail {
  position: relative;
  top: 0px;
  width: 170px;
  height: 170px;
  margin-bottom: 25px;
  display: block;
  float: left;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  text-decoration: none;
  border: 2px solid #fff;
}
/* line 334, ../../scss/default.scss */
main .content.products .content-slider .products-list .product-thumbnail img {
  padding: 5px;
  max-width: 100%;
  max-height: 120px;
}
/* line 339, ../../scss/default.scss */
main .content.products .content-slider .products-list .product-thumbnail h5 {
  font-family: 'Museo300Regular';
  color: #66493d;
  font-weight: 300;
  font-size: 13px;
  padding: 0 3px;
  width: 160px;
  margin-top: -3px;
}
/* line 348, ../../scss/default.scss */
main .content.products .content-slider .products-list .product-thumbnail.active, main .content.products .content-slider .products-list .product-thumbnail:hover {
  border: 2px solid #e7e7e7;
}
/* line 354, ../../scss/default.scss */
main .content.products .content-slider .products-content {
  width: 792px;
  float: right;
}
/* line 357, ../../scss/default.scss */
main .content.products .content-slider .products-content h4 {
  font-size: 24px;
  text-transform: uppercase;
  color: #b7db5b;
  width: 700px;
  margin: auto;
}
/* line 365, ../../scss/default.scss */
main .content.products .content-slider .products-content .product-image {
  position: relative;
  top: 30px;
  left: 50px;
  text-align: left;
  width: 270px;
  float: left;
}
/* line 372, ../../scss/default.scss */
main .content.products .content-slider .products-content .product-image img {
  max-width: 100%;
  max-height: 570px;
  text-align: center;
  margin: auto;
}
/* line 379, ../../scss/default.scss */
main .content.products .content-slider .products-content .information {
  position: relative;
  left: -40px;
  top: 40px;
  width: 350px;
  float: right;
  font-family: 'Museo300Regular';
  color: #adadad;
}
/* line 387, ../../scss/default.scss */
main .content.products .content-slider .products-content .information p {
  width: 320px;
  font-size: 16px;
  text-align: left;
  border: 2px solid #e7e7e7;
  padding: 15px;
  margin-bottom: 20px;
}
/* line 396, ../../scss/default.scss */
main .content.products .content-slider .products-content .information .technique-information {
  -moz-transition: margin-top 500ms;
  -o-transition: margin-top 500ms;
  -webkit-transition: margin-top 500ms;
  transition: margin-top 500ms;
}
/* line 400, ../../scss/default.scss */
main .content.products .content-slider .products-content .information h6 {
  font-family: 'Museo500Regular';
  font-size: 19px;
  color: #adadad;
  text-transform: uppercase;
}
/* line 406, ../../scss/default.scss */
main .content.products .content-slider .products-content .information table {
  position: relative;
  margin-top: 20px;
  font-size: 14px;
  width: 350px;
}
/* line 413, ../../scss/default.scss */
main .content.products .content-slider .products-content .information table tr {
  height: 30px;
}
/* line 417, ../../scss/default.scss */
main .content.products .content-slider .products-content .information table tr td {
  text-align: right;
  color: #b7db5b;
}
/* line 423, ../../scss/default.scss */
main .content.products .content-slider .products-content .information .more-details-button {
  width: 350px;
  padding: 14px 0;
  margin-top: 20px;
  float: right;
}
/* line 437, ../../scss/default.scss */
main .content.brands .brands-images {
  position: relative;
  top: -50px;
}
/* line 442, ../../scss/default.scss */
main .headline {
  position: relative;
  margin-top: 50px;
  background: #666;
  height: 620px;
}
/* line 447, ../../scss/default.scss */
main .headline .headline-title {
  position: relative;
  top: 265px;
  z-index: 100;
}
/* line 452, ../../scss/default.scss */
main .headline .headline-image-1 {
  background-image: url("../images/landing-page/headline-phrase-1.jpg");
  background-position: center middle;
}
/* line 457, ../../scss/default.scss */
main .headline .headline-image-2 {
  background-image: url("../images/landing-page/headline-phrase-2.jpg");
  background-position: center middle;
}
/* line 462, ../../scss/default.scss */
main .headline .headline-image-3 {
  background-image: url("../images/landing-page/headline-phrase-3.jpg");
  background-position: center middle;
}

/* line 470, ../../scss/default.scss */
footer {
  border-top: solid 2px #e7e7e7;
  position: relative;
  height: 320px;
  margin-top: -50px;
}
/* line 475, ../../scss/default.scss */
footer nav {
  position: relative;
  top: 60px;
}
/* line 478, ../../scss/default.scss */
footer nav .footer-social {
  float: left;
  margin-top: 115px;
  margin-left: 20px;
}
/* line 482, ../../scss/default.scss */
footer nav .footer-social h5 {
  font-family: 'Museo300Regular';
  color: #bababa;
  font-size: 14px;
  padding-bottom: 10px;
}
/* line 488, ../../scss/default.scss */
footer nav .footer-social a {
  background: #ddd7d4;
  width: 42px;
  height: 42px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: inline-block;
}
/* line 494, ../../scss/default.scss */
footer nav .footer-social a:hover {
  background: #a6bf65;
}
/* line 498, ../../scss/default.scss */
footer nav .footer-social .facebook {
  content: url("../images/landing-page/icons/facebook-icon.png");
}
/* line 501, ../../scss/default.scss */
footer nav .footer-social .instagram {
  content: url("../images/landing-page/icons/instagram-icon.png");
}
/* line 504, ../../scss/default.scss */
footer nav .footer-social .twitter {
  content: url("../images/landing-page/icons/twitter-icon.png");
}
/* line 507, ../../scss/default.scss */
footer nav .footer-social .gplus {
  content: url("../images/landing-page/icons/google-icon.png");
}
/* line 511, ../../scss/default.scss */
footer nav .center {
  width: 300px;
  margin: auto;
}
/* line 514, ../../scss/default.scss */
footer nav .center .logo-brand {
  display: block;
}
/* line 517, ../../scss/default.scss */
footer nav .center .footer-button {
  position: relative;
  font-size: 18px;
  margin-left: 10px;
  padding: 18px 80px;
  top: 50px;
}
/* line 527, ../../scss/default.scss */
footer nav .scroll-top {
  position: relative;
  top: -15px;
  float: right;
  margin-right: 20px;
  font-family: 'Museo300Regular';
  text-decoration: none;
  color: #bababa;
}
/* line 535, ../../scss/default.scss */
footer nav .scroll-top .arrow-up {
  position: relative;
  top: 26px;
  background: #ddd7d4;
  content: url("../images/landing-page/icons/arrow-up.svg") no-repeat;
  width: 60px;
  height: 58px;
  margin-left: 15px;
  border-bottom: 3px solid #c7c2bf;
  z-index: 10;
}
/* line 545, ../../scss/default.scss */
footer nav .scroll-top .arrow-up:hover {
  background: #c7c2bf;
}
